@font-face {
  font-family: "Carnero W01 Regular";
  src: url("Fonts/5769302/fc943e3f-f35e-463c-8dce-0fc83ad13cc1.eot?#iefix");
  src: url("Fonts/5769302/fc943e3f-f35e-463c-8dce-0fc83ad13cc1.eot?#iefix")
      format("eot"),
    url("Fonts/5769302/0110f74c-cfec-4029-a503-f9c7670b3eaa.woff2")
      format("woff2"),
    url("Fonts/5769302/c1c9d552-25c4-425b-93c1-a4098112697b.woff")
      format("woff"),
    url("Fonts/5769302/859d5f3e-c756-4b28-9ef0-c3b20ef987d7.ttf")
      format("truetype");
}
@font-face {
  font-family: "Carnero W01 Semibold";
  src: url("Fonts/5769315/f8ff8492-12c2-441d-abb1-113f5e08c304.eot?#iefix");
  src: url("Fonts/5769315/f8ff8492-12c2-441d-abb1-113f5e08c304.eot?#iefix")
      format("eot"),
    url("Fonts/5769315/aba522db-890f-4acb-8185-ade9341418b1.woff2")
      format("woff2"),
    url("Fonts/5769315/62504181-95f0-4225-aa8b-50c749a68760.woff")
      format("woff"),
    url("Fonts/5769315/7f80782a-ebf2-4387-8d31-de53b2d5b447.ttf")
      format("truetype");
}
@font-face {
  font-family: "Carnero W01 Bold";
  src: url("Fonts/5769331/72224f44-9b67-4741-9a2d-60c4d3c2326b.eot?#iefix");
  src: url("Fonts/5769331/72224f44-9b67-4741-9a2d-60c4d3c2326b.eot?#iefix")
      format("eot"),
    url("Fonts/5769331/34dbee74-6c16-4126-b2a9-c0a1888b8cf0.woff2")
      format("woff2"),
    url("Fonts/5769331/a9eb8cad-7402-4f42-8fb3-67ae312fba04.woff")
      format("woff"),
    url("Fonts/5769331/a4aed2f1-921c-4c9e-bf07-e94c5600cc0f.ttf")
      format("truetype");
}
