.vis *,
.vis *::before,
.vis *::after {
  box-sizing: border-box;
}

.vis {
  font-family: "Carnero W01 Regular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
  color: rgb(8, 47, 59);
  margin: 3rem auto;
  max-width: 1200px;
  width: calc(100% - 1rem);
  position: relative;
}

.vis .vis-title {
  font-family: "Carnero W01 Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
}

.vis .vis-subtitle {
  font-size: 1rem;
}

.vis .vis-note {
  font-size: 0.75rem;
}

.vis text {
  font-family: "Carnero W01 Regular", "Arial", sans-serif;
  font-size: 0.75rem;
}

.vis .vis-primary {
  color: rgb(0, 92, 185);
}

.vis .vis-content {
  max-width: 50em;
}

.vis .vis-row {
  margin-left: -1rem;
  margin-right: -1rem;
}

.vis .vis-col {
  padding-left: 1rem;
  padding-right: 1rem;
}

.vis.vis-stack--lg > * + * {
  margin-top: 3rem;
}

.vis .vis-stack > * + * {
  margin-top: 2rem;
}

.vis .vis-stack--sm > * + * {
  margin-top: 1rem;
}

.vis .vis-stack--xs > * + * {
  margin-top: 0.5rem;
}

.vis .vis-side {
  display: flex;
  flex-direction: column;
}

.vis .vis-side .vis-filters {
  order: 1;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 960px) {
  .vis .vis-row {
    display: flex;
    flex-wrap: wrap;
  }

  .vis .vis-main {
    flex: 1;
  }

  .vis .vis-side {
    flex: 0 0 240px;
    display: block;
  }
}

.vis .vis-card {
  border: 1px solid rgba(8, 47, 59, 0.2);
  padding: 1rem;
}

/* Key */
.vis .legend-item {
  display: flex;
  align-items: baseline;
}

.vis .legend-item + .legend-item {
  margin-top: 0.25rem;
}

.vis .legend-swatch {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 0.75rem;
  flex: 0 0 8px;
}

.vis .legend-swatch--rect {
  width: 32px;
  height: 8px;
  border-radius: 0;
  margin-right: 0.75rem;
  flex: 0 0 32px;
  position: relative;
}

/* Filter */
.vis .vis-filters {
  margin: -0.5rem;
}

.vis .vis-filter {
  margin: 0.5rem;
  width: 160px;
}

@media (min-width: 960px) {
  .vis .vis-filters {
    display: block;
  }

  .vis .vis-filter {
    width: 100%;
  }
}

.vis .vis-filter label {
  display: inline-block;
}

.vis .vis-filter select {
  display: block;
  padding: 0.25rem 1.25rem 0.25rem 0.5rem;
  width: 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='rgb(0, 161, 223)' stroke='rgb(0, 161, 223)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6 Z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.25rem center;
  background-size: 16px 12px;
  border: none;
  border-bottom: 1px solid rgba(8, 47, 59, 0.2);
  transition: border-color 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.vis .vis-filter select:focus {
  outline: none;
  border-color: rgb(8, 47, 59);
}

/* Tooltip */
.vis .vis-tooltip {
  font-size: 0.875rem;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  width: auto;
  max-width: 240px;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 14px 0 rgb(79 79 78 / 20%);
  opacity: 0;
  transition: opacity 0.15 ease-in-out;
}

.vis .vis-tooltip > * + * {
  margin-top: 0.5rem;
}

.vis .vis-tooltip > * > *:first-child {
  font-weight: 600;
}

.vis .vis-tooltip.is-visible {
  opacity: 1;
}

/* Shared */
.vis .axis line,
.vis .axis path {
  stroke: rgba(8, 47, 59, 0.4);
}

/* Bar */
.vis .vis-bar-chart-key {
  margin-top: auto;
  margin-left: auto;
  align-self: flex-end;
}
